$main-color: rgb(0, 0, 0);
$sub-color: rgb(128, 128, 128);

@mixin shrinklabel {
  color: $main-color;
  font-size: 12px;
  top: -14px;
}

.group {
  margin: 45px 0;
  position: relative;

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinklabel();
    }
  }

  .form-input {
    background: none;
    background-color: #ffffff;
    border: 0;
    border-bottom: 1px solid $sub-color;
    border-radius: 0;
    color: $sub-color;
    display: block;
    font-size: 18px;
    margin: 25px 0;
    padding: 10px 10px 10px 5px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinklabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }
}
